<div class='card' style='width: 18rem;'>
  <img src={{image}} class='card-img-top' alt='Toyota' />
  <div class='card-body'>
    <h5 class='card-title'>{{title}}</h5>
    <p class='card-text'>Виробник: {{make}}</p>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>Модель: {{model}}</li>
    <li class='list-group-item'>Рік: {{year}}</li>
    <li class='list-group-item'>Колір кузова: {{color}}</li>
  </ul>
  <div class='card-body'>
    <a
      href='http://localhost:3000/car'
      class='card-link'
    >Wikipedia</a>
    <a
      href='http://localhost:3000/car'
      class='card-link'
    >Инструкция</a>
  </div>
</div>